body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #bbceb9, #6a6a75);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.weather-container {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

.weather-container input {
  padding: 10px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 16px;
}

.weather-container button {
  background-color: #3895f8;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.weather-container button:hover {
  background-color: #0056b3;
}

.weather-data h1 {
  margin: 10px 0;
  color: #534949;
}

.weather-data h2 {
  margin: 5px 0;
  color: #555;
}
